:root {
  --text-color: #F5F5F5;
  --bg-color: #232b2b;
  --bg-color-rgb: 35, 43, 43;
  --text-color-hover: #779696;
  --color-easing: color 250ms cubic-bezier(0.22, 1, 0.36, 1);
  --movement-easing: cubic-bezier(0.33, 1, 0.68, 1);
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
  position: relative;
  background-color: #b9c6c6;
  overflow-x: hidden;
}

html::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(to bottom, #222a2a 50%, #394646 50% 75%, #506262 75% 87.5%, #677f7f 87.5% 93.75%, #809898 93.75% 96.25%);
}

html::after {
  content: '';
  display: block;
  position: absolute;
  top: 63vh;
  left: 0;
  width: 100vw;
  height: 100vw;
  opacity: 0.75;
  transform: translateY(-50%);
  background-image: radial-gradient(#c1dcdc 25%, #677f7f 25% 40%, #506262 40% 50%, #394646 50% 55%, #222a2a  55% 57.5%);
}

body {
  font-size: 18px;
  color: var(--text-color);
  padding: 8rem;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 300;
  margin: 0;
}

.canvas {
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: var(--color-easing);
}

a:hover,
a:focus,
a:active {
  color: var(--text-color-hover);
}
